.ideia-comments-header {
  background: $orange;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
}

.ideia-comments-header .social-media {
  display: block;
  font-size: 12px;
  padding-top: 10px;

  @include breakpoint($break-tablet) {
    display: inline-block;
    float: right;
    font-size: inherit;
    padding: 0;
  }
}

.ideia-action {
  margin-right: 15px;
  .fa {
    @include opacity(0.5);
  }
  &.voted, &:hover {
    .fa {
      @include opacity(1);
    }
  }
}

#comments {
  background: #fdefec;
}

.ideia-comments-list {
  font-size: 14px;
  padding: 0 10px;
  .children {
    border-left: solid 1px $orange;
    margin-left: 40px;
    padding-left: 10px;
  }
}

.ideia-comment-author {
  font-weight: 700;
  padding-right: 6px;
}

.ideia-comment {
  border-top: solid 1px $orange;
  margin: 10px 0;
  padding: 10px 0;
  &:first-child {
    border-top: 0;
    padding-top: 0;
  }
}

.ideia-comment-table {
  display: table;
  width: 100%;
}

.ideia-comment-picture {
  display: table-cell;
  width: 40px;
}

.ideia-comment-block {
  display: table-cell;
  padding-top: 5px;
}

.ideia-comment-meta {
  font-size: 11px;
  margin-top: 5px;
}

.ideia-comment-action {
  margin-right: 8px;
  .fa {
    @include opacity(0.5);
    color: $orange;
  }
  &.voted, .replying &.ideia-comment-reply, &:hover {
    .fa {
      @include opacity(1);
    }
  }
}

.comment-reply-title {
  display: none;
}

.ideia-comment-form {
  display: table;
  position: relative;
  width: 100%;
}

.post-comment-spinner {
  color: $orange;
  display: none;
  position: absolute;
  right: 4px;
  top: 9px;
  .ideia-comment-form.posting & {
    display: block;
  }
}

.ideia-comment-picture-container {
  display: table-cell;
  vertical-align: top;
  width: 37px;
}

.comment-textarea {
  @extend %text-font;
  background: #f9f6f1;
  border: 0;
  display: table-cell;
  font-size: 14px;
  padding: 6px 8px;
  vertical-align: top;
  width: 100%;
}
