.bg-pattern-orange {
  background: $orange image-url('sefn/bg-pattern.png');
}

.bg-pattern-teal {
    background: $teal image-url('sefn/bg-pattern.png');
}

.bg-pattern-light-purple {
    background: $purple image-url('sefn/bg-pattern.png');
}

.bg-pattern-dark-purple {
    background: $dark-purple image-url('sefn/bg-pattern.png');
}

.flow-title {
  @extend %title-font;
  letter-spacing: 0;
  font-size: 24px;
  margin: 30px 0;
  text-align: center;

  & > span {
    background: #000;
    color: #fff;
    padding: 5px 10px;
  }
}

.flow-list {
  font-size: 0;
  @include breakpoint($break-tablet) {
    margin-top: 30px;
  }
}

.flow-item {
  color: #fff;
  display: block;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  @include breakpoint($break-tablet) {
    display: inline-block;
  }
}

.flow-link {
  display: block;
}

.flow-image {
  margin-top: 30px;
}

.flow-item-title-container {
  @extend %align-middle-container;
  height: 160px;
}

.flow-item-title {
  @extend %align-middle-element;
  @extend %title-font;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 1.2em;
  strong {
    display: block;
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
