.signup-logo {
  background-image: image-url('sefn/logo-orange.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: none; /* Do not display on mobile because of the keyboard */
  height: 170px;
  margin-bottom: 20px;

  @include breakpoint($break-desktop) {
    display: block;
  }
}

.signup-input, .signup-button {
  display: block;
  margin: 2px 0;
}

.signup-input {
  position: relative;

  .icon {
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
  }

  .privacy {
    color: #555;
    margin-top: -8px;
    position: absolute;
    right : 5px;
    top: 50%;
  }

  &.empty {
    color: $orange;
  }

  & > input {
    background-color: #fff;
    background-repeat: no-repeat;
    border: solid 1px $orange;
    color: #000;
    display: block;
    font-size: 12px;
    overflow: hidden;
    padding: 10px 32px 10px 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    @include input-placeholder {
      color: $orange;
    }

    &[disabled] {
      background-color: $light-gray;
      border-color: $gray;
    }
  }

  .multi-select-done {
    background: $orange;
    border: 0;
    bottom: 5px;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 26px;
  }

  .validation-error {
    @include border-radius(5px);
    @include box-shadow(0 0 4px rgba(0, 0, 0, 0.5));
    background: $red;
    bottom: 35px;
    color: #fff;
    font-size: 12px;
    left: 3px;
    padding: 5px 10px;
    position: absolute;
    z-index: 2;

    @include breakpoint($break-tablet) {
      bottom: 37px;
    }

    @include breakpoint($break-desktop) {
      bottom: 39px;
    }

    &::after {
      border-top: 5px solid $red;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      bottom: -5px;
      content: "";
      height: 0;
      left: 10px;
      position: absolute;
      width: 0;
    }
  }

  &.focused > .multi-select-selected {
    padding-right: 38px;
  }

  .suggestions, .multi-select-options {
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    background: #fff;
    color: #000;
    display: none;
    font-size: 12px;
    overflow-y: auto;
    max-height: 120px;
    position: absolute;
    top: 37px;
    left: 0;
    right: 0;
    z-index: 2;

    .check {
      margin-right: 2px;
    }

    &:not(.multi-select-options) > li {
      cursor: pointer;
      padding: 5px;
      &.selected, &:hover {
        background: $gray;
      }
    }

    &.multi-select-options > li {
      @include opacity(0.6);
      cursor: pointer;
      padding: 5px;

      &:hover {
        @include opacity(1);
      }
    }

    @include breakpoint($break-tablet) {
      font-size: 14px;
      top: 39px;
    }

    @include breakpoint($break-desktop) {
      top: 41px;
    }
  }

  &.focused .suggestions, &.focused .multi-select-options {
    display: block;
  }

  select {
      width: 90%;
      background-color: white;
      padding-left: 30px;
      option {
          min-height: 38px;
      }
  }
}

.signup-button {
  @include transition(all 150ms ease);
  background: $orange;
  border: 0;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
}

@include breakpoint($break-desktop) {
  .signup-input, .signup-button {
    & > input {
      font-size: 14px;
    }
  }
}
