.single.wrap, .page.wrap {
  padding: 20px 10px;

  @include breakpoint($break-desktop) {
    padding: 30px 0;
  }
}

@include breakpoint($break-desktop) {
  .single.wrap, .page.wrap {
    font-size: 0;
  }

  .single-content {
    display: inline-block;
    font-size: 16px;
    margin-right: 5%;
    vertical-align: top;
    width: 65%;
  }

  .single-sidebar {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    width: 30%;
  }
}

.single-taxonomy {
  @extend %title-font;
  background: #000;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  letter-spacing: 0;
  margin-bottom: 20px;
  padding: 8px 15px;
  a {
    color: #fff;
  }
}

.single-title {
  @extend %title-font;
  font-size: 26px;
  letter-spacing: 1px;
}

.single-meta {
  font-size: 12px;
  font-weight: 700;
  line-height: 2.5em;
  margin: 15px 0;

  .single-ideia & {
    @include breakpoint($break-tablet) {
      line-height: 32px;
    }
  }

  & > * {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;

    &.single-date {
      display: block;
    }
  }

  @include breakpoint($break-tablet) {
    display: table;
    font-size: 14px;
    line-height: 1.5em;

    & > * {
      display: table-cell;
      white-space: nowrap;
    }
  }
}

.single-meta-sep {
  display: none;
  @include breakpoint($break-tablet) {
    display: table-cell;
    padding: 0 8px;
    vertical-align: middle;
  }
}

.social-sep {
  display: none !important;
  @include breakpoint($break-tablet) {
    display: table-cell !important;
    padding: 0 10px;
    width: 100%;
    hr {
      border: 0;
      border-bottom: solid 1px #aaa;
    }
  }
}

.entry {
  font-size: 17px;
  line-height: 170%;

  blockquote, code, div, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
    margin: 15px 0;
    @include breakpoint($break-tablet) {
      margin: 30px 0;
    }
  }

  h2 {
    font-size: 140%;
  }

  h3 {
    font-size: 120%;
  }

  h4 {
    font-size: 100%;
    font-weight: 700;
  }

  h5 {
    font-size: 80%;
    font-weight: 700;
    text-transform: uppercase;
  }

  ul {
    list-style: square;
    margin-left: 20px;
  }

  ol {
    list-style: decimal;
    margin-left: 20px;
  }

  blockquote {
    border-left: solid 10px #ddd;
    padding-left: 20px;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: 700;
  }

  small {
    font-size: 85%;
  }

  a {
    color: $orange;
    word-wrap: break-word;
    &:hover {
      text-decoration: underline;
    }
  }
}

.sidebar-section {
  margin-bottom: 20px;
  @include breakpoint($break-desktop) {
    margin-bottom: 40px;
  }
}

.sidebar-title {
  @extend %title-font;
  background: #000;
  color: #fff;
  letter-spacing: 0;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  text-transform: lowercase;
}

.tag-cloud {
  text-align: center;
  & > a {
    display: inline-block;
    padding: 0 2px;
    &::before {
      content: "#";
      color: $purple;
    }
  }
}

.yarpp-list {
  list-style: square;
  margin-left: 15px;
}

.yarpp-item {
  padding: 3px 0;
}

.yarpp-link {
  color: $purple;
}

.yarpp-date {
  color: #222;
  font-size: 85%;
}
