.site-hero {
  background-position: bottom center;
  background-size: cover;
  height: 960px;
  overflow: hidden;
  position: relative;

  @include breakpoint($break-tablet) {
    height: 600px;
  }
}

.hero-video {
  bottom: 0;
  display: none;
  position: absolute;

  @include breakpoint($break-desktop) {
    display: block;
    width: 100%;
  }
}

.site-hero > .hero-content {
  bottom: 0;
  font-size: 0;
  left: 0;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;
  & > .wrap {
    height: 100%;
  }
  @include breakpoint($break-tablet) {
    padding: 0;
    & > .wrap {
      display: table;
      width: 100%;
    }
  }
}

.hero-left, .hero-right {
  height: 480px;
  @include breakpoint($break-tablet) {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 50%;
  }
}

.hero-left {
  position: relative;
}

.hero-logo-image {
  height: 320px;
  left: 50%;
  margin-left: -133px;
  position: absolute;
  top: 60px;
  width: 266px;

  @include breakpoint($break-tablet) {
    height: 420px;
    width: 349px;
    margin-left: -175px;
  }
}

.hero-button {
  background: none;
  border: solid 2px #fff;
  bottom: 30px;
  color: #fff;
  font-weight: 700;
  left: 50%;
  margin-left: -133px;
  padding: 10px 55px 10px 15px;
  position: absolute;
  text-transform: uppercase;

  &::after {
    border-left: solid 2px #fff;
    bottom: 0;
    content: "▶";
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    background: #fff;
    color: #000;
  }

  @include breakpoint($break-tablet) {
    bottom: 40px;
    margin-left: -175px;
  }
}

.hero-right {
  @include breakpoint($break-tablet) {
    padding-right: 20px;
  }
}

.hero-call {
  color: #fff;
  font-size: 16px;
  line-height: 1.3em;
  margin: 15px 0;
  strong {
    font-weight: bold;
  }
  @include breakpoint($break-tablet) {
    font-size: 21px;
  }
}

.hero-form {
  line-height: 0;
  margin-top: 20px;

  /* do not group these rules */
  *::-webkit-input-placeholder {
      color: white;
  }
  *:-moz-placeholder {
      /* FF 4-18 */
      color: white;
  }
  *::-moz-placeholder {
      /* FF 19+ */
      color: white;
  }
  *:-ms-input-placeholder {
      /* IE 10+ */
      color: white;
  }

  input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], textarea, select, select:not(.gfield_select) {
      // background: rgba(255, 255, 255, 0.8);
      background-color: transparent;
      color: white;
      font-weight: bold;
      border: none;
      border-bottom: solid;
      font-size: 12pt;
      line-height: 1em;
      background-image: none;
  }
}

.hero-form-item {
  width: 100% !important;
  margin: 5px 0;
  vertical-align: middle;
  // @include breakpoint($break-desktop) {
  //   display: inline-block;
  //   width: 49% !important;
  //   &:nth-child(2n) {
  //     margin-left: 2%;
  //   }
  // }
}

.hero-form-input, .hero-form-button {
  border: 0;
  display: block;
  padding: 5px 10px;
  width: 100%;
}

.hero-form-input {
}

.hero-form-button {
  background: white;
  color: #440e53;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}

.hero-form-response {
  color: #fff;
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
}


// ------------------------------------

.hero-text > p {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}
