main.tema {
  @include breakpoint($break-tablet) {
    padding: 40px 0 30px;
  }

  & > .wrap {
    display: table;
    width: 100%;
  }
}

.tema-video {
  @include breakpoint($break-tablet) {
    display: table-cell;
    padding-right: 40px;
    vertical-align: middle;
    width: 600px;
  }

  iframe {
    max-height: 360px;
    max-width: 100%;
  }
}

.tema-video-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  width: 100%;
}

.tema-info {
  padding: 10px;

  @include breakpoint($break-tablet) {
    display: table-cell;
    padding: 0;
    vertical-align: middle;
  }
}

.tema-name {
  @extend %title-font;
  background: #000;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0;
  margin-bottom: 20px;
  padding: 6px 16px;

  @include breakpoint($break-tablet) {
    font-size: 26px;
    padding: 8px 20px;
  }
}

.tema-link-more {
  border: solid 2px #000;
  background: none;
  color: #000;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0;
  margin-top: 20px;
  padding: 8px 16px;
  text-transform: uppercase;
  &:hover {
    background: #000;
    color: #fff;
  }
}

.tema-form {
  color: #fff;
  padding: 5px;

  @include breakpoint($break-tablet) {
    padding: 30px 0;

    & > .wrap {
      display: table;
      width: 100%;
    }
  }
}

.tema-form-explanation {
  @include breakpoint($break-tablet) {
    display: table-cell;
    padding-right: 150px;
    vertical-align: middle;
    width: 600px;
  }
}

.tema-form-form {
  @include breakpoint($break-tablet) {
    display: table-cell;
    vertical-align: middle;
  }
}

.tema-form-title {
  @extend %title-font;
  display: none;
  font-size: 72px;
  letter-spacing: 0;
  line-height: 1em;
  margin-bottom: 20px;
  @include breakpoint($break-tablet) {
    display: block;
  }
}

.tema-form-description {
  font-size: 14px;
  line-height: 1.3em;
  margin-top: 10px;
  color: #fff;
  & > strong {
    font-weight: 700;
  }
  @include breakpoint($break-tablet) {
    font-size: 18px;
    margin-top: 0;
  }
}

.tema-form-item {
  line-height: 0;
  padding: 5px 0;
  color: #fff;
}

.tema-form-label {
  @extend %title-font;
  display: block;
  font-size: 18px;
  letter-spacing: 0;
}

.tema-form-select {
    width: 100%;
    background-color: white;
}
.tema-form-select, .tema-form-select option {
    min-height: 36px;
    color: #767676;
}

.tema-form-input,
.tema-form-select,
.tema-form-textarea,
.tema-form-button,
.tema-form-multiselect .multi-select-selected,
.bairros-form-location > input {
  font-size: 13px;
  @include breakpoint($break-tablet) {
    font-size: 16px;
  }
}

.tema-form-input,
.tema-form-textarea,
.tema-form-multiselect .multi-select-selected,
.bairros-form-location > input {
  @extend %text-font;
  background: #fff;
  border: 0;
  padding: 5px 10px;
  width: 100%;
}

.bairros-form-location {
  position: relative;

  .suggestions {
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    background: #fff;
    color: #000;
    display: none;
    font-size: 14px;
    line-height: 1.1em;
    overflow-y: auto;
    max-height: 120px;
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    z-index: 2;

    & > li {
      cursor: pointer;
      padding: 5px;
      &.selected, &:hover {
        background: $gray;
      }
    }
  }

  &.focused .suggestions {
    display: block;
  }
}

.tema-form-textarea {
  height: 140px;
}

.tema-form-multiselect {
  position: relative;

  .multi-select-options {
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    background: #fff;
    color: #000;
    display: none;
    font-size: 12px;
    overflow-y: auto;
    max-height: 120px;
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;
    z-index: 2;

    .check {
      margin-right: 2px;
    }

    & > li {
      @include opacity(0.6);
      cursor: pointer;
      line-height: 1.5em;
      padding: 5px;

      &:hover {
        @include opacity(1);
      }
    }

    @include breakpoint($break-tablet) {
      font-size: 14px;
      top: 33px;
    }
  }

  &.focused .multi-select-options {
    display: block;
  }

  .multi-select-done {
    background: $orange;
    border: 0;
    bottom: 2px;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 26px;

    @include breakpoint($break-tablet) {
      font-size: 14px;
      width: 28px;
    }
  }
}

.tema-form-button {
  @extend %title-font;
  background: #000;
  border: 0;
  color: #fff;
  letter-spacing: 0;
  padding: 5px;
  text-align: center;
  width: 90px;
}

.if-not-sent {
  display: inline-block;
  button:disabled & {
    display: none;
  }
}

.if-sending {
  display: none;
  button:disabled & {
    display: inline-block;
  }
}

.logo-medium {
    height: 300px;
}
